In [0]:
! pip install PyMySQL

Collecting PyMySQL
  Downloading https://files.pythonhosted.org/packages/ed/39/15045ae46f2a123019aa968dfcba0396c161c20f855f11dea6796bcaae95/PyMySQL-0.9.3-py2.py3-none-any.whl (47kB)
     |████████████████████████████████| 51kB 2.0MB/s
Installing collected packages: PyMySQL
Successfully installed PyMySQL-0.9.3

In [0]:
import pandas as pd
import numpy as np

In [0]:
db_connection_str = 'mysql+pymysql://myuser:mypass@34.202.176.76/adm_landing'
db_connection = create_engine(db_connection_str)
df_final = pd.read_sql('SELECT * FROM crypto_stage_data', con=db_connection)

In [0]:
df_final.head()

   cmc_id      name symbol  ...  volatility  git_commits  twitter_followers
0    2882    0Chain    ZCN  ...    0.273591            0            26324.0
1    1896        0x    ZRX  ...    0.196767         4920             4505.0
2    3588  Absolute    ABS  ...    0.280824            0              390.0
3    2299      aelf    ELF  ...    0.346416         6958               33.0
4    2058   AirSwap    AST  ...    0.350290            2            32003.0

[5 rows x 9 columns]

In [0]:
df_normalize = df_final[['market_cap','volume_7d','volatility','git_commits','twitter_followers']]

In [0]:
df_normalize

      market_cap     volume_7d  volatility  git_commits  twitter_followers
0        1959089  1.790411e+04    0.273591            0            26324.0
1      121166310  1.648577e+08    0.196767         4920             4505.0
2          30964  1.107982e+04    0.280824            0              390.0
3       36903319  5.042576e+07    0.346416         6958               33.0
4        3464893  1.483493e+07    0.350290            2            32003.0
5         469786  0.000000e+00    0.269270           24                1.0
6          71173  1.986009e+03    0.209085            0                0.0
7       92806485  5.547468e+07    0.197973            2             7982.0
8         664756  1.096676e+05    0.118728           39             1530.0
9       19792848  7.299519e+06    0.326087          448            78954.0
10        272827  3.478051e+02    0.163395            0                NaN
11     209959813  2.081699e+08    0.185945           27                NaN
12  150684880442  1.032473e+11    0.000000         1686           982919.0
13     136436311  1.521164e+08    0.317363           92                NaN
14      90631192  3.785143e+08    0.304448            0            87636.0
15       4823824  3.032171e+04    0.163206            3                0.0
16      10361478  3.328857e+06    0.151282            0              187.0
17       1567608  4.027157e+04    0.299025            0                NaN
18        192904  2.240653e+03    0.397902            0              110.0
19      10902266  8.125366e+06    0.256817            0            35729.0
20       1093150  1.620094e+03    0.271952            0              378.0
21       3325397  4.629624e+06    0.156236            0                NaN
22       4509661  6.042234e+05    0.335396            0                0.0
23      80788766  1.386878e+08    0.010632            0              213.0
24       2513417  1.211424e+04    0.339385            0             5797.0
25       1163085  7.931855e+05    0.218042            0                0.0
26        203899  7.417582e+02    0.349759            0               24.0
27      15444403  2.235795e+06    0.298058            0                0.0
28        458928  4.301689e+05    0.201416            0             4999.0
29         30185  1.122739e+05    0.155797            0                NaN
..           ...           ...         ...          ...                ...
41       1634341  9.905532e+04    0.338479            0                0.0
42      10290007  1.848288e+04    0.166357            0              188.0
43       3939260  3.949653e+03    0.292057            0            72268.0
44     507566845  1.784259e+09    0.220289          300              745.0
45      24262065  4.420327e+06    0.164643            0               32.0
46      42046425  4.236222e+08    0.329952            0              157.0
47     113396230  2.898744e+08    0.266275           14                0.0
48        223119  3.194301e+03    0.321314            0                0.0
49       2888269  2.720668e+07    0.046601            0                NaN
50       6151992  4.097900e+04    0.215183            0                0.0
51       2878234  1.959483e+06    0.314696            0                NaN
52       6983558  1.535234e+06    0.247809         3881                NaN
53       1236082  1.577908e+06    0.220033            0                0.0
54       6704547  3.190533e+06    0.280390          352                0.0
55      20508941  2.565609e+07    0.225446            0                NaN
56        205069  1.525998e+05    0.195268            0                NaN
57       2573445  3.820433e+05    1.719029            0             9122.0
58     567682063  1.031871e+08    0.138727            0            44719.0
59     868003364  3.958497e+09    0.242243         3428             4441.0
60       1954907  1.365266e+05    0.257085            0          2193551.0
61             0  0.000000e+00    0.001190            0                NaN
62    1042378913  5.796164e+07    0.127842            0                NaN
63        566600  2.672699e+04    0.263678            0                0.0
64     185765213  1.864567e+08    0.193888          180              403.0
65      52714529  1.392858e+07    0.169237          365          2573833.0
66      30879518  2.587138e+07    0.344883            0            55680.0
67        752122  1.077197e+04    0.149365            0                1.0
68   10504442155  9.653192e+09    0.136748          219              681.0
69     274700505  1.684358e+09    0.249431          351                0.0
70      42872996  8.356495e+07    0.268376         3159            66298.0

[71 rows x 5 columns]

In [0]:
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()
np_scaled = min_max_scaler.fit_transform(df_normalize)
df_normalize_new = pd.DataFrame(np_scaled, columns = df_normalize.columns)
df_normalize_new

      market_cap     volume_7d  volatility  git_commits  twitter_followers
0   1.300123e-05  1.734099e-07    0.159154     0.000000       1.022755e-02
1   8.041040e-04  1.596727e-03    0.114464     0.707100       1.750308e-03
2   2.054884e-07  1.073134e-07    0.163362     0.000000       1.515250e-04
3   2.449039e-04  4.883978e-04    0.201518     1.000000       1.282134e-05
4   2.299430e-05  1.436835e-04    0.203772     0.000287       1.243398e-02
5   3.117672e-06  0.000000e+00    0.156641     0.003449       3.885256e-07
6   4.723301e-07  1.923546e-08    0.121630     0.000000       0.000000e+00
7   6.158978e-04  5.372991e-04    0.115166     0.000287       3.101211e-03
8   4.411564e-06  1.062184e-06    0.069067     0.005605       5.944442e-04
9   1.313526e-04  7.069937e-05    0.189693     0.064386       3.067565e-02
10  1.810580e-06  3.368660e-09    0.095051     0.000000                NaN
11  1.393370e-03  2.016227e-03    0.108169     0.003880                NaN
12  1.000000e+00  1.000000e+00    0.000000     0.242311       3.818892e-01
13  9.054413e-04  1.473321e-03    0.184618     0.013222                NaN
14  6.014618e-04  3.666094e-03    0.177105     0.000000       3.404883e-02
15  3.201266e-05  2.936805e-07    0.094941     0.000431       0.000000e+00
16  6.876256e-05  3.224159e-05    0.088004     0.000000       7.265429e-05
17  1.040322e-05  3.900496e-07    0.173950     0.000000                NaN
18  1.280182e-06  2.170181e-08    0.231469     0.000000       4.273782e-05
19  7.235143e-05  7.869810e-05    0.149397     0.000000       1.388163e-02
20  7.254543e-06  1.569139e-08    0.158201     0.000000       1.468627e-04
21  2.206855e-05  4.484015e-05    0.090886     0.000000                NaN
22  2.992776e-05  5.852196e-06    0.195108     0.000000       0.000000e+00
23  5.361438e-04  1.343258e-03    0.006185     0.000000       8.275595e-05
24  1.667995e-05  1.173323e-07    0.197428     0.000000       2.252283e-03
25  7.718658e-06  7.682385e-06    0.126840     0.000000       0.000000e+00
26  1.353148e-06  7.184287e-09    0.203463     0.000000       9.324614e-06
27  1.024947e-04  2.165475e-05    0.173388     0.000000       0.000000e+00
28  3.045614e-06  4.166394e-06    0.117169     0.000000       1.942239e-03
29  2.003187e-07  1.087427e-06    0.090631     0.000000                NaN
..           ...           ...         ...          ...                ...
41  1.084608e-05  9.593987e-07    0.196901     0.000000       0.000000e+00
42  6.828825e-05  1.790157e-07    0.096774     0.000000       7.304281e-05
43  2.614237e-05  3.825430e-08    0.169896     0.000000       2.807797e-02
44  3.368399e-03  1.728141e-02    0.128147     0.043116       2.894516e-04
45  1.610119e-04  4.281300e-05    0.095777     0.000000       1.243282e-05
46  2.790355e-04  4.102986e-03    0.191941     0.000000       6.099852e-05
47  7.525389e-04  2.807574e-03    0.154899     0.002012       0.000000e+00
48  1.480699e-06  3.093835e-08    0.186916     0.000000       0.000000e+00
49  1.916761e-05  2.635098e-04    0.027109     0.000000                NaN
50  4.082687e-05  3.969015e-07    0.125177     0.000000       0.000000e+00
51  1.910101e-05  1.897855e-05    0.183066     0.000000                NaN
52  4.634545e-05  1.486949e-05    0.144156     0.557775                NaN
53  8.203092e-06  1.528280e-05    0.127998     0.000000       0.000000e+00
54  4.449383e-05  3.090186e-05    0.163110     0.050589       0.000000e+00
55  1.361048e-04  2.484917e-04    0.131147     0.000000                NaN
56  1.360913e-06  1.478003e-06    0.113592     0.000000                NaN
57  1.707832e-05  3.700274e-06    1.000000     0.000000       3.544130e-03
58  3.767346e-03  9.994166e-04    0.080701     0.000000       1.737448e-02
59  5.760388e-03  3.833996e-02    0.140919     0.492670       1.725442e-03
60  1.297348e-05  1.322326e-06    0.149553     0.000000       8.522507e-01
61  0.000000e+00  0.000000e+00    0.000692     0.000000                NaN
62  6.917608e-03  5.613866e-04    0.074369     0.000000                NaN
63  3.760165e-06  2.588639e-07    0.153388     0.000000       0.000000e+00
64  1.232806e-03  1.805924e-03    0.112789     0.025870       1.565758e-04
65  3.498329e-04  1.349050e-04    0.098449     0.052458       1.000000e+00
66  2.049278e-04  2.505768e-04    0.200627     0.000000       2.163311e-02
67  4.991357e-06  1.043318e-07    0.086889     0.000000       3.885256e-07
68  6.971132e-02  9.349584e-02    0.079550     0.031475       2.645859e-04
69  1.823013e-03  1.631382e-02    0.145100     0.050446       0.000000e+00
70  2.845209e-04  8.093669e-04    0.156120     0.454010       2.575847e-02

[71 rows x 5 columns]

In [0]:
df_rank = pd.DataFrame()

In [0]:
df_rank['cmc_rank'] = df_final['cmc_rank'].sort_values(ascending = True)
df_rank

    cmc_rank
12         1
30         2
68         3
37         6
62        11
59        14
58        19
31        20
44        21
39        22
69        28
11        32
64        34
13        39
1         40
47        43
7         49
14        51
23        56
40        71
65        73
33        83
70        84
3         89
66        95
38        96
45       116
55       133
9        136
27       157
..       ...
43       486
4        528
21       538
49       577
51       578
57       602
24       611
0        676
60       678
41       727
17       738
36       753
53       803
25       822
20       835
67       941
8        969
63      1013
5       1063
28      1069
34      1091
10      1221
48      1268
56      1290
26      1294
18      1310
6       1541
2       1709
29      1713
61      2356

[71 rows x 1 columns]

In [0]:
df_rank['local_rank'] = [i for i in range(1,len(df_rank)+1)]

In [0]:
df_rank.head()

    cmc_rank  local_rank
12         1           1
30         2           2
68         3           3
37         6           4
62        11           5

In [0]:
df_rank['rank_normalize'] = 1-(df_rank['local_rank']-1)*1/(len(df_rank))

In [0]:
df_last = pd.concat([df_normalize_new,df_rank],axis=1)

In [0]:
df_last.head()

     market_cap     volume_7d  volatility  ...  cmc_rank  local_rank  rank_normalize
0  1.300123e-05  1.734099e-07    0.159154  ...       676          49        0.323944
1  8.041040e-04  1.596727e-03    0.114464  ...        40          15        0.802817
2  2.054884e-07  1.073134e-07    0.163362  ...      1709          69        0.042254
3  2.449039e-04  4.883978e-04    0.201518  ...        89          24        0.676056
4  2.299430e-05  1.436835e-04    0.203772  ...       528          43        0.408451

[5 rows x 8 columns]

In [0]:
df_last[['cmc_id','name','symbol']] = df_final[['cmc_id','name','symbol']]

In [0]:
df_last.head()

     market_cap     volume_7d  volatility  ...  cmc_id      name  symbol
0  1.300123e-05  1.734099e-07    0.159154  ...    2882    0Chain     ZCN
1  8.041040e-04  1.596727e-03    0.114464  ...    1896        0x     ZRX
2  2.054884e-07  1.073134e-07    0.163362  ...    3588  Absolute     ABS
3  2.449039e-04  4.883978e-04    0.201518  ...    2299      aelf     ELF
4  2.299430e-05  1.436835e-04    0.203772  ...    2058   AirSwap     AST

[5 rows x 11 columns]

In [0]:
df_last.to_excel('final_table_latest.xlsx',encoding='utf-8')

In [0]:
from google.colab import files
files.download('final_table_latest.xlsx')